* {
  box-sizing: border-box;
}

header {
	list-style: none;
	margin : 0;
	padding: 0;
	overflow: auto;
	display: flex;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

main {
	display: flex;
}

.logo > img {
  width: 50px;
}

.product{
	border: 2px solid #ccc;
	padding: 5px;
	border-radius: 16px;
	margin: 3px 20px 3px 20px;
	text-align: center;
}

.product > p {
	text-align: left;
}

.navbar {
	list-style: none;
	margin : 0;
	padding: 0;
	background-color: #5B5B5B;
	overflow: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: white;
}

.social {
	list-style: none;
	margin : 0;
	padding: 0;
	overflow: auto;
	display: flex;
	justify-content: space-evenly;
}

.menu {
	display: flex;
	flex-direction: row;
}

@media (max-width: 600px){
	header {
		flex-direction: column;
		align-items: center;
	}

	footer {
		padding-left: 60px;
		padding-right: 60px;
	}

	main {
		flex-direction: column;
	}

	.menu {
		visibility: hidden;
		margin-top: 0px;
		margin-bottom: 0px;
		order: 1;
	}

	.hamburger {
		order: 2;
	}

	.navbar {
		justify-content: flex-end;
	}

	.product {
		flex-direction: row;
	}
}

@media (min-width: 601px) and (max-width: 990px){
	header {
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
	}

	header > h1 {
		padding-right: 100px;
	}

	footer {
		border-top: 2px solid #ccc;
		padding-top: 20px;
	}

	main {
		flex-direction: column;
	}

	.menu {
		visibility: hidden;
		margin-top: 0px;
		margin-bottom: 0px;
		order: 1;
	}

	.hamburger {
		order: 2;
	}

	.navbar {
		justify-content: flex-end;
	}
}

@media (min-width: 1031px){
	header {
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
	}

	header > h1 {
		padding-right: 250px;
	}

	footer {
		border-top: 2px solid #ccc;
		padding-top: 20px;
	}

	main {
		flex-direction: row;
		justify-content: center;
	}

	ul > li {
		padding-left: 25px;
		padding-right: 25px;
	}

	.menu {
		order: 2;
		list-style: none;
		justify-content: space-evenly;
	}

	.hamburger {
		order: 1;
		visibility: hidden;
	}

	.navbar {
		justify-content: flex-end;
	}

	.product {
		flex-grow: 1;
		flex-basis: 0;
	}

	.social {
		justify-content: space-around;
	}
}